In [1]:
import pandas as pd
import numpy as np

In [2]:
import glob
import os
from tqdm import tqdm
#import tensorflow.compat.v1 as tf

In [3]:
tf.debugging.set_log_device_placement(True)
gpus = tf.config.list_logical_devices('GPU')
strategy = tf.distribute.MirroredStrategy(gpus)
tf.config.get_visible_devices()

NameError: name 'tf' is not defined

In [4]:
dfs = []
directory = "C:/Users/graciacayanan/Desktop/MASTER Paper 2 Knowledge Distillation/1 Datasets/RAW Datasets/EN-TL Dataset/TL-EN translate S2"
directory_2 = "C:/Users/graciacayanan/Desktop/MASTER Paper 2 Knowledge Distillation/1 Datasets/RAW Datasets/EN-TL Dataset/TL-EN translate S1"
compiled = "C:/Users/graciacayanan/Desktop/MASTER Paper 2 Knowledge Distillation/1 Datasets/Compiled Datasets"
i=0

#with strategy.scope():
for filename in tqdm(glob.iglob(f'{compiled}/*')):
       this_df = pd.read_csv(filename, header = None, skiprows = 1)
       dfs.append(this_df)
       i = i+1

df = pd.concat(dfs)

2it [00:04,  2.29s/it]

In [5]:
df

,0,1,2
0,0,"""Hindi ko ugali ang mamulitika; mas gusto kong...","""I do not have the politics; I prefer to be qu..."
1,1,"Ayon naman kay Bayan Muna Rep. Carlos Zarate, ...","According to Bayan Muna Rep. Carlos Zarate, Ch..."
2,2,Ayon naman sa Philippine Embassy sa Washington...,According to the Philippine Embassy in Washing...
3,3,Paano maipagtatanggol ng mga ordinaryong mamam...,How do ordinary citizens defend themselves fro...
4,4,SM by the bay,SM by the bay
...,...,...,...
372505,372505,Ang mga barangays na naapektuhan ng bagyong Gl...,The barangays affected by Typhoon Glenda in Va...
372506,372506,Mayroong limang cosmetic product sa Cordillera...,There are five cosmetic products in the Cordil...
372507,372507,Matud ni Batangas Disaster Risk Reduction and ...,Matud's Batangas Disaster Risk Reduction and M...
372508,372508,Matatandaan na nakansela ang meeting sa pagita...,Recall that Meeting was canceled between Duter...
372509,372509,Maging ang Pangulo ay hindi kumbinsido na shoo...,Even the President is not convinced that shoot...

In [6]:
df.isnull().values.any()

False

In [7]:
df.isnull().values.sum()

0

In [14]:
df.columns[df.isna().any()].tolist()

[2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23]

In [15]:
df.dropna(axis='columns', inplace = True)

In [8]:
df.reset_index()

,index,0,1,2
0,0,0,"""Hindi ko ugali ang mamulitika; mas gusto kong...","""I do not have the politics; I prefer to be qu..."
1,1,1,"Ayon naman kay Bayan Muna Rep. Carlos Zarate, ...","According to Bayan Muna Rep. Carlos Zarate, Ch..."
2,2,2,Ayon naman sa Philippine Embassy sa Washington...,According to the Philippine Embassy in Washing...
3,3,3,Paano maipagtatanggol ng mga ordinaryong mamam...,How do ordinary citizens defend themselves fro...
4,4,4,SM by the bay,SM by the bay
...,...,...,...,...
777068,372505,372505,Ang mga barangays na naapektuhan ng bagyong Gl...,The barangays affected by Typhoon Glenda in Va...
777069,372506,372506,Mayroong limang cosmetic product sa Cordillera...,There are five cosmetic products in the Cordil...
777070,372507,372507,Matud ni Batangas Disaster Risk Reduction and ...,Matud's Batangas Disaster Risk Reduction and M...
777071,372508,372508,Matatandaan na nakansela ang meeting sa pagita...,Recall that Meeting was canceled between Duter...
777072,372509,372509,Maging ang Pangulo ay hindi kumbinsido na shoo...,Even the President is not convinced that shoot...

In [9]:
df

,0,1,2
0,0,"""Hindi ko ugali ang mamulitika; mas gusto kong...","""I do not have the politics; I prefer to be qu..."
1,1,"Ayon naman kay Bayan Muna Rep. Carlos Zarate, ...","According to Bayan Muna Rep. Carlos Zarate, Ch..."
2,2,Ayon naman sa Philippine Embassy sa Washington...,According to the Philippine Embassy in Washing...
3,3,Paano maipagtatanggol ng mga ordinaryong mamam...,How do ordinary citizens defend themselves fro...
4,4,SM by the bay,SM by the bay
...,...,...,...
372505,372505,Ang mga barangays na naapektuhan ng bagyong Gl...,The barangays affected by Typhoon Glenda in Va...
372506,372506,Mayroong limang cosmetic product sa Cordillera...,There are five cosmetic products in the Cordil...
372507,372507,Matud ni Batangas Disaster Risk Reduction and ...,Matud's Batangas Disaster Risk Reduction and M...
372508,372508,Matatandaan na nakansela ang meeting sa pagita...,Recall that Meeting was canceled between Duter...
372509,372509,Maging ang Pangulo ay hindi kumbinsido na shoo...,Even the President is not convinced that shoot...

In [18]:
df.columns = ['TL', 'EN']

In [13]:
df

,TL,EN
0,"Ito ang dineklara ni Atty. Romulo Macalintal, ...","This is Atty. Romulo Macalintal, Robredo's law..."
1,Dating itinutulak ni Duterte ang pagbabago ng ...,Duterte formerly pushes the constitutional cha...
2,"Ayon sa NBI, hindi umano siyento por siyentong...","According to the NBI, Scenario is not said tha..."
3,"""Nakasaad sa R.A. 9009 na dapat mayroong land ...","""Stated in R.A. 9009 that there should be a la..."
4,Kabilang sa mga sumali sa programang ito ang m...,"These programs include residents of Barangay, ..."
...,...,...
9995,Ang mga barangays na naapektuhan ng bagyong Gl...,The barangays affected by Typhoon Glenda in Va...
9996,Mayroong limang cosmetic product sa Cordillera...,There are five cosmetic products in the Cordil...
9997,Matud ni Batangas Disaster Risk Reduction and ...,Matud's Batangas Disaster Risk Reduction and M...
9998,Matatandaan na nakansela ang meeting sa pagita...,Recall that Meeting was canceled between Duter...
9999,Maging ang Pangulo ay hindi kumbinsido na shoo...,Even the President is not convinced that shoot...

In [10]:
df.reset_index()

,index,0,1,2
0,0,0,"""Hindi ko ugali ang mamulitika; mas gusto kong...","""I do not have the politics; I prefer to be qu..."
1,1,1,"Ayon naman kay Bayan Muna Rep. Carlos Zarate, ...","According to Bayan Muna Rep. Carlos Zarate, Ch..."
2,2,2,Ayon naman sa Philippine Embassy sa Washington...,According to the Philippine Embassy in Washing...
3,3,3,Paano maipagtatanggol ng mga ordinaryong mamam...,How do ordinary citizens defend themselves fro...
4,4,4,SM by the bay,SM by the bay
...,...,...,...,...
777068,372505,372505,Ang mga barangays na naapektuhan ng bagyong Gl...,The barangays affected by Typhoon Glenda in Va...
777069,372506,372506,Mayroong limang cosmetic product sa Cordillera...,There are five cosmetic products in the Cordil...
777070,372507,372507,Matud ni Batangas Disaster Risk Reduction and ...,Matud's Batangas Disaster Risk Reduction and M...
777071,372508,372508,Matatandaan na nakansela ang meeting sa pagita...,Recall that Meeting was canceled between Duter...
777072,372509,372509,Maging ang Pangulo ay hindi kumbinsido na shoo...,Even the President is not convinced that shoot...

In [11]:
df.reset_index(inplace=True, drop=True)

In [12]:
df

,0,1,2
0,0,"""Hindi ko ugali ang mamulitika; mas gusto kong...","""I do not have the politics; I prefer to be qu..."
1,1,"Ayon naman kay Bayan Muna Rep. Carlos Zarate, ...","According to Bayan Muna Rep. Carlos Zarate, Ch..."
2,2,Ayon naman sa Philippine Embassy sa Washington...,According to the Philippine Embassy in Washing...
3,3,Paano maipagtatanggol ng mga ordinaryong mamam...,How do ordinary citizens defend themselves fro...
4,4,SM by the bay,SM by the bay
...,...,...,...
777068,372505,Ang mga barangays na naapektuhan ng bagyong Gl...,The barangays affected by Typhoon Glenda in Va...
777069,372506,Mayroong limang cosmetic product sa Cordillera...,There are five cosmetic products in the Cordil...
777070,372507,Matud ni Batangas Disaster Risk Reduction and ...,Matud's Batangas Disaster Risk Reduction and M...
777071,372508,Matatandaan na nakansela ang meeting sa pagita...,Recall that Meeting was canceled between Duter...
777072,372509,Maging ang Pangulo ay hindi kumbinsido na shoo...,Even the President is not convinced that shoot...

In [22]:
df.EN.str.count("Loading...")

0         0
1         0
2         0
3         0
4         0
         ..
419956    0
419957    0
419958    0
419959    0
419960    0
Name: EN, Length: 419961, dtype: int64

In [23]:
df.EN.str.contains(r'Loading').sum()

12708

In [24]:
df = df[df.EN.str.contains(r'Loading...')== False]

In [25]:
df

,TL,EN
0,"""Hindi ko ugali ang mamulitika; mas gusto kong...","""I do not have the politics; I prefer to be qu..."
1,"Ayon naman kay Bayan Muna Rep. Carlos Zarate, ...","According to Bayan Muna Rep. Carlos Zarate, Ch..."
2,Ayon naman sa Philippine Embassy sa Washington...,According to the Philippine Embassy in Washing...
3,Paano maipagtatanggol ng mga ordinaryong mamam...,How do ordinary citizens defend themselves fro...
4,SM by the bay,SM by the bay
...,...,...
419956,"Sinabi rin ng mga barangay officials, ang cala...",The barangay officials also said that the Cala...
419957,Itinanggi ng isa sa mga miyembro ng Commission...,One of the members of the Commission on appoin...
419958,Kabilang sa mga mahistradong pumabor sa kahili...,Among the magistrates of De Lima's request is ...
419959,Inilunsad kahapon ng Commission on Elections (...,The Commission on Elections (Comelec) launched...
419960,Ang NBI lamang ang inatasan ng Pangulo na mag-...,The NBI only assigned the President to investi...

In [26]:
df1 = df[df['TL'] == df['EN']]

In [27]:
df1

,TL,EN
6924,55,55
7055,"@ogiealcasid, ""I am so sad to hear that one of...","@ogiealcasid, ""I am so sad to hear that one of..."
9254,69,69
9614,3,3
10479,7 p.m. San Miguel Beer vs Star,7 p.m. San Miguel Beer vs Star
...,...,...
419408,"Game Three: San Miguel, 111-87","Game Three: San Miguel, 111-87"
419439,7 p.m. Rain or Shine vs San Miguel Beer,7 p.m. Rain or Shine vs San Miguel Beer
419702,Team Standings: San Beda (7-0); Perpetual Help...,Team Standings: San Beda (7-0); Perpetual Help...
419717,"1002 CARINO, PAUL ELY FERNANDEZ","1002 CARINO, PAUL ELY FERNANDEZ"
419790,"- Central Cebu (Balamban, Talisay, Cebu City, ...","- Central Cebu (Balamban, Talisay, Cebu City, ..."

In [28]:
df = df[df['TL'] != df['EN']]

In [13]:
df.reset_index(inplace=True, drop=True)

In [14]:
df

,0,1,2
0,0,"""Hindi ko ugali ang mamulitika; mas gusto kong...","""I do not have the politics; I prefer to be qu..."
1,1,"Ayon naman kay Bayan Muna Rep. Carlos Zarate, ...","According to Bayan Muna Rep. Carlos Zarate, Ch..."
2,2,Ayon naman sa Philippine Embassy sa Washington...,According to the Philippine Embassy in Washing...
3,3,Paano maipagtatanggol ng mga ordinaryong mamam...,How do ordinary citizens defend themselves fro...
4,4,SM by the bay,SM by the bay
...,...,...,...
777068,372505,Ang mga barangays na naapektuhan ng bagyong Gl...,The barangays affected by Typhoon Glenda in Va...
777069,372506,Mayroong limang cosmetic product sa Cordillera...,There are five cosmetic products in the Cordil...
777070,372507,Matud ni Batangas Disaster Risk Reduction and ...,Matud's Batangas Disaster Risk Reduction and M...
777071,372508,Matatandaan na nakansela ang meeting sa pagita...,Recall that Meeting was canceled between Duter...
777072,372509,Maging ang Pangulo ay hindi kumbinsido na shoo...,Even the President is not convinced that shoot...

In [15]:
df1 =  df[df.TL.str.contains('[A-Za-z]') == False]

AttributeError: 'DataFrame' object has no attribute 'TL'

In [32]:
df1

                        TL                   EN
253                  * * *               * * *
817                  * * *               * * *
2883                 * * *               * * *
4049                 (2-1)       La Salle (2-1)
4214                 * * *               * * *
...                    ...                  ...
390710               * * *              * * * *
393835  336-8627, 524-5787  336-8627, 524-5787.
394866               * * *              * * * *
395720              165-02              165-02.
399060                95.6                95.6.

[207 rows x 2 columns]

In [33]:
#df1['TL'][367083]

In [16]:
df =  df[df.TL.str.contains('[A-Za-z]') == True]

AttributeError: 'DataFrame' object has no attribute 'TL'

In [17]:
df.reset_index(inplace=True, drop=True)

In [18]:
df

,0,1,2
0,0,"""Hindi ko ugali ang mamulitika; mas gusto kong...","""I do not have the politics; I prefer to be qu..."
1,1,"Ayon naman kay Bayan Muna Rep. Carlos Zarate, ...","According to Bayan Muna Rep. Carlos Zarate, Ch..."
2,2,Ayon naman sa Philippine Embassy sa Washington...,According to the Philippine Embassy in Washing...
3,3,Paano maipagtatanggol ng mga ordinaryong mamam...,How do ordinary citizens defend themselves fro...
4,4,SM by the bay,SM by the bay
...,...,...,...
777068,372505,Ang mga barangays na naapektuhan ng bagyong Gl...,The barangays affected by Typhoon Glenda in Va...
777069,372506,Mayroong limang cosmetic product sa Cordillera...,There are five cosmetic products in the Cordil...
777070,372507,Matud ni Batangas Disaster Risk Reduction and ...,Matud's Batangas Disaster Risk Reduction and M...
777071,372508,Matatandaan na nakansela ang meeting sa pagita...,Recall that Meeting was canceled between Duter...
777072,372509,Maging ang Pangulo ay hindi kumbinsido na shoo...,Even the President is not convinced that shoot...

In [19]:
df.to_csv('C:/Users/graciacayanan/Desktop/MASTER Paper 2 Knowledge Distillation/1 Datasets/Compiled Datasets/EN_TL_compiled_100k.csv')